<?xml version="1.0"?>
<mujoco xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="quadrotor_body" params="prefix pos euler:='0 0 0'">
    <body name="${prefix}" pos="${pos}" euler="${euler}">
      <joint name="${prefix}" type="free" damping="0.001" armature="0" pos="0 0 0"/>
      
      <geom name="${prefix}_core" type="box" size="0.035 0.035 0.015" rgba="1.0 1.0 0.0 1.0" mass=".85"/>
      <site name="${prefix}_imu" pos="0 0 0"/>
      
      <geom name="${prefix}_a00" type="box" pos=".071 0.071 0.0" size="0.05 0.01 0.0025" quat=".924 0 0 0.383" rgba="1 0.5 0 1" mass=".035"/>
      <geom name="${prefix}_a10" type="box" pos=".071 -0.071 0.0" size="0.05 0.01 0.0025" quat=".383 0 0 0.924" rgba="1 0.5 0 1" mass=".035"/>
      <geom name="${prefix}_a20" type="box" pos="-0.071 -0.071 0.0" size="0.05 0.01 0.0025" quat="-.383 0 0 0.924" rgba="1 0.5 0 1" mass=".035"/>
      <geom name="${prefix}_a30" type="box" pos="-.071 0.071 0.0" size="0.05 0.01 0.0025" quat=".924 0 0 -0.383" rgba="1 0.5 0 1" mass=".035"/>

      <geom name="${prefix}_thruster00" type="cylinder" pos="0.1 0.1 0.01" size="0.03 0.0025" quat="1.0 0.0 0.0 0." rgba="0.0 0.0 0.0 1.0" mass=".015"/>
      <geom name="${prefix}_thruster10" type="cylinder" pos="0.1 -0.1 0.01" size="0.03 0.0025" quat="1.0 0.0 0.0 0." rgba="0.0 0.0 0.0 1.0" mass=".015"/>
      <geom name="${prefix}_thruster20" type="cylinder" pos="-0.1 -0.1 0.01" size="0.03 0.0025" quat="1.0 0.0 0.0 0." rgba="0.0 0.0 0.0 1.0" mass=".015"/>
      <geom name="${prefix}_thruster30" type="cylinder" pos="-0.1 0.1 0.01" size="0.03 0.0025" quat="1.0 0.0 0.0 0." rgba="0.0 0.0 0.0 1.0" mass=".015"/>

      <site name="${prefix}_thrust" type="box" pos="0 0 0" size="0.035 0.035 0.015" rgba="0 1 1 1"/>
      <site name="${prefix}_rateX" type="box" pos="0 0 0" size="0.035 0.035 0.015" rgba="0 1 1 1"/>
      <site name="${prefix}_rateY" type="box" pos="0 0 0" size="0.035 0.035 0.015" rgba="0 1 1 1"/>
      <site name="${prefix}_rateZ" type="box" pos="0 0 0" size="0.035 0.035 0.015" rgba="0 1 1 1"/>

      <site name="${prefix}_payload_site" pos="0.0 0.0 0.0"/>
      
      <camera name="${prefix}_camera" pos="0.035 0 -0.015" euler="0 0 -1.57"/>
    </body>
  </xacro:macro>

  <xacro:macro name="quadrotor_physical_sensors" params="prefix">
    <accelerometer name="${prefix}_accel" site="${prefix}_imu" />
    <gyro name="${prefix}_gyro" site="${prefix}_imu" />
  </xacro:macro>


  <xacro:macro name="quadrotor_actuators" params="prefix">
    <motor site="${prefix}_thrust" name="${prefix}_body_thrust" ctrllimited="true" ctrlrange="0 82.0" gear="0 0 1 0 0 0"/>
    <motor site="${prefix}_rateX"  name="${prefix}_x_moment" ctrllimited="true" ctrlrange="-0.3 0.3" gear="0 0 0 1 0 0"/>
    <motor site="${prefix}_rateY"  name="${prefix}_y_moment" ctrllimited="true" ctrlrange="-0.3 0.3" gear="0 0 0 0 1 0"/>
    <motor site="${prefix}_rateZ"  name="${prefix}_z_moment" ctrllimited="true" ctrlrange="-0.3 0.3" gear="0 0 0 0 0 1"/>
    
    <plugin name="acro_ctrl_${prefix}" plugin="MujocoRosUtils::AcroMode" joint="${prefix}">
      <config key="actuator_fz"  value="${prefix}_body_thrust"/>
      <config key="actuator_tx"  value="${prefix}_x_moment"/>
      <config key="actuator_ty"  value="${prefix}_y_moment"/>
      <config key="actuator_tz"  value="${prefix}_z_moment"/>
      <config key="control_hz"   value="500"/>
      <config key="body_name"    value="${prefix}"/>
    </plugin>
  </xacro:macro>

  <xacro:macro name="quadrotor_sensor_plugins" params="prefix">
    <plugin name="${prefix}_odom" plugin="MujocoRosUtils::OdometryPublisher" objtype="xbody" objname="${prefix}">
      <config key="publish_rate" value="240"/>
    </plugin>
    <plugin name="${prefix}_imu_pub" plugin="MujocoRosUtils::ImuPublisher">
      <config key="body_name"    value="${prefix}"/>
      <config key="accel_sensor" value="${prefix}_accel"/>
      <config key="gyro_sensor"  value="${prefix}_gyro"/>
      <config key="publish_rate" value="200"/>
    </plugin>
  </xacro:macro>
</mujoco>
